
.paddingall{
    padding-left: 25vh;
    margin-bottom: 10px;
    margin-top: 10px;
}

.priceTitle{
    font-weight: 600;
}
.priceSubTitle{
    font-weight: 400;
}
/* .iconStyle{
    margin-top: 20px;
    margin-left: 20px;
} */

.gradient{
    background: rgb(40,34,70);
    background: linear-gradient(158deg, rgba(40,34,70,1) 0%, rgba(30,47,141,1) 100%);
}
.gradientLight{
    background: rgb(53,138,148);
    background: linear-gradient(158deg, rgba(53,138,148,1) 0%, rgba(90,180,96,1) 100%);
}
.bgColor{
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgb(224, 224, 224)0%, rrgb(233, 237, 254)100%);

}

.login{
    margin-top: '200px';
    padding-top: '200px';
    width: 100%;
    display : 'flex';
    align-items  : 'center';
    justify-content : 'center'
}

.Emp{
    color: #1976D2;
}